.parent{
    display: flex;
    flex-direction: column;
    z-index: 100;
    width: 40%;
    height: 60%;
    position: absolute;
    bottom: 6rem;
    font-weight: bold;
    justify-content: center;
    background-color: white;
    margin-left: 5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    align-items: center;
    gap: 1rem;
}

.parent>input{
  
    width: 30%;
}
.btnStyle{
  
    width: 20%;
    height: 10%;
  
}

.parent>span{
    display: flex;
    gap: 1rem;
}

.parent>span>input{
    width: 20%;
    height: 10%;
}

.parent>span{
    color: crimson;
}

.parent>p{
    color: white;
    background-color: green;
}